venv*
dist/
build/
*.egg-info/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
src/carconnectivity_connectors/audi/testing/*
src/carconnectivity_connectors/audi/_version.py
audi_config.json

k8s-carconnectivity.yaml
carconnectivity.yaml
src/carconnectivity_connectors/audi/_version.py
